.container-carousel{
  margin-top: 40px;
}
.contrainer-products{
  margin:30px
}
.cl-prod{
  display: flex;
  justify-content: center;
}
.content-products{
  justify-content: center;
}

@media (max-width: 400px) {
  .coverflow__figure__3bk_C {
    width: 110px !important;
  }
}
