.footer {
    width: 100%;
    height: 100px;
    background: #3e3735;
    position: relative;
    bottom: 0;
 
    /* font-family: "Amatic SC", cursive;
    font-size: 1.6em; */

}
.footer-mobile {
    width: 100%;
    background: #3e3735;
    position: relative;
    bottom: 0;
 
    /* font-family: "Amatic SC", cursive;
    font-size: 1.6em; */

}
.content-footer {
    color: #fff;
}
.content-footer-mobile {
    color: #fff;
    flex-direction: column;
    padding: 20px 0px;
}
.divider {
    background: #fff;
    width: 1px;
    height: 69px;
    text-align: right;
    margin-top: 20px;
}
.content-item {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cl-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.whats-contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}